swagger: "2.0"
info:
  version: "0.0.1"
  title: Pixel Service
# during dev, should point to your local machine
host: localhost:10010
# basePath prefixes all resource paths 
basePath: /
# 
schemes:
  # tip: remove http to make production-grade
  - http
  - https
# format of bodies a client can send (Content-Type)
consumes:
  - application/json
# format of the responses to the client (Accepts)
produces:
  - application/json
paths:
  /: 
    get: 
      description: "This endpoint returns all grids available for specific user"
      operationId: "GetAllPixelGrids"
      parameters: []
      responses: 
        200: 
          description: "An array of pixel grids"
          schema: 
            type: "array"
            items: 
              $ref: "#/definitions/Code"
      x-swagger-router-controller: "GetAllPixelGrids"  
    post: 
      description: "Add a new pixel grid"
      operationId: "AddGrid"
      produces:
      - "application/json"
      parameters: 
      - in: "body"
        name: "grid"
        description: "The grid to be added"
        required: true
        schema: 
          $ref: "#/definitions/Code"
      responses: 
        200: 
          description: "Succesful grid add"
      x-swagger-router-controller: "AddGrid"    
  /grid/{id}:
    get: 
      description: "Retrieve a single grid by id"
      operationId: "FindGridById"
      produces: 
      - "application/json"
      parameters: 
      - name: "id"
        in: "path"
        description: "ID of the grid to get"
        required: true
        type: "integer"
        format: "int64"
      responses: 
        200: 
          description: "Grid response"
          schema: 
            $ref: "#/definitions/Code"
    delete: 
      description: "Delete a grid by Id"
      operationId: "DeleteGridById"
      parameters: 
      - name: "id"
        in: "path"
        description: "ID of the grid to delete"
        required: true
        type: "integer"
        format: "int64"
      responses: 
        204: 
          description: "todo deleted"
    put: 
      description: "Update a single grid by id"
      operationId: "UpdateGridById"
      parameters: 
      - name: "id"
        in: "path"
        description: "ID of the grid to delete"
        required: true
        type: "integer"
        format: "int64"
      - name: "updated_grid"
        in: "body"
        description: "The updated grid"
        required: true
        schema: 
          $ref: "#/definitions/Code"
      responses: 
        200:
          description: "Todo updated"
        400: 
          description: "An error happened, rejoice!"
            
      
  /swagger:
    x-swagger-pipe: swagger_raw
# complex objects have schema definitions
definitions:
  Code:
    type: "object" 
    properties: 
      grid_id:
        type: "integer"
        description: "id for code illustration"
      grid: 
        type: "string"
        description: "The name of grid item"
      datecreated: 
        type: "string"
        format: "date-time"
        description: "Timestamp when the grid illustration is"
      author: 
        type: "string"
        description: "Person who has created the grid"
      completed:
        type: "boolean"
        description: "Determine grid is considered completed, or not"
