swagger: "2.0"
info:
  version: "0.0.1"
  title: Pixel Service
# during dev, should point to your local machine
host: localhost:10010
# basePath prefixes all resource paths 
basePath: /
# 
schemes:
  # tip: remove http to make production-grade
  - http
  - https
# format of bodies a client can send (Content-Type)
consumes:
  - application/json
# format of the responses to the client (Accepts)
produces:
  - application/json
paths:
  /: 
    get: 
      description: "This endpoint returns all grids available for specific user"
      operationId: "GetAllPixelGrids"
      parameters: []
      responses: 
        200: 
          description: "An array of pixel grids"
          schema: 
            type: "array"
            items: 
              $ref: "#/definitions/Code"
  /swagger:
    x-swagger-pipe: swagger_raw
# complex objects have schema definitions
definitions:
  Code:
    type: "object" 
    properties: 
      grid_id: 
        type: "integar"
        description: "id for code illustration"
      grid: 
        type: "string"
        description: "The name of grid item"
      datecreated: 
        type: "string"
        format: "date-time"
        description: "Timestamp when the grid illustration is"
      author: 
        type: "string"
        description: "Person who has created the grid"
      completed:
        type: "boolean"
        description: "Determine grid is considered completed, or not"
